body {
	background-color: #333;
}

h1, h2, h3, h4, h5 {
	font-family: 'Special Elite', cursive;
}

.brand {
	color: #116a98;
	padding: 0 5px 5px;
	font-size: 30px;
	font-family: 'Special Elite', cursive;
}

.cover, .buttons {
	margin-top: 20px;
}

.white {
		color: white;
}

.read-text {
	font-size: 16px;
	font-family: 'Special Elite', cursive;
}

.arrow {
	max-width: 100px;	
}

.btn-border {
	border-bottom-width: 3px;
}

.text-left {
	text-align: right;
}

.feature-bg {
	max-width: 291px;
	padding: 15px;
	background-color: white;
	margin-bottom: 20px;
}